/* RESPONSIVE DESIGN */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    max-width: 500px;
  }
}


/* MAIN */

body {
  margin: 0 auto;
  max-width: 800px;
  background: rgb(242, 246, 248);

  font-family: 'Ubuntu', 'Open Sans', sans-serif;
  font-weight: 300;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

h1 {
  color: rgb(51, 75, 91);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  /* margin: 0 0 100px 0; */

  color: rgb(253, 171, 93);
  font-weight: 300;
}

footer {
  padding: 30px 0;
  margin: 0 0;

  text-align: center;
}


/* CONTENT */

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

strong {
  font-weight: medium;
}


/* NAV */

.fab {
  line-height: 30px;

  color: rgb(222, 130, 84);
  text-decoration: none;
}
.fab:hover {
  color: rgb(209, 96, 77);
}

.btn {
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;

  color: white;
  background: rgb(222, 130, 84);
}
.btn:hover {
  background: rgb(209, 96, 77);
}


/* CLASSES */

.big-quote {
  font-size: 50px;
}

.card {
  margin: 10px;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin: 50px 0;
  padding: 20px;

  border: 1px solid lightgray;
  border-radius: 5px;
  background: white;
  box-shadow: 2px 2px 5px lightgray;
}

.content {
  padding: 30px 20%;

  color: rgb(63, 71, 80);

  text-align: justify;
}

.fab {
  font-size: 2em;
}

.header-title {
  margin: auto 0;
  padding: 0 20px;
}

.img-circle {
  padding: 0 20px;

  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.left {
  justify-content: left;
  align-items: center;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.quote {
  margin: 0 0 70px 0;
  font-style: italic;
}

.sub {
  margin: 0 0 15px 0;
}

.top {
  margin: 70px 0 0 0;
}

.map {
  max-height: 300px;
}
